<extend name="Public/base"/>

<block name="body">
<div>
<div class="page-head">
	<h2>Award</h2>
</div>
<div class="cl-mcont">
	<div class="row">
		<div class="col-md-12">
			<div class="block-flat">
				<div class="header">							
					<h3 class="hthin">{$meta_title}</h3>
				</div>
				<div class="content">
					<div class="col-sm-12">
						<label class="pull-left control-label">product name(or user id)</label>
						<div class="col-sm-3">
							<input type="text" name="keyword" class="form-control">
						</div>
						<div class="col-sm-2">
							<button type="button" id="search" url="{:U('index?category='.$_GET['category'])}" class="btn btn-success">Search</button>
						</div>
						<div class="pull-right">
							<div class="btn-group">
							  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
								<switch name="Think.get.express">
									<case value="1">Already Shipped</case>    
									<case value="2">Not Already Shipped</case>    
									<default />All Record
								</switch>
								<span class="caret"></span>
							  </button>
							  <ul class="dropdown-menu" role="menu">
								<li><a href="{:U('index',array('type'=>I('get.type')))}">All Record</a></li>
								<li><a href="{:U('index',array('express'=>1,'type'=>I('get.type')))}">Already Shipped</a></li>
								<li><a href="{:U('index',array('express'=>2,'type'=>I('get.type')))}">NotAlready Shipped</a></li>
							  </ul>
							</div>
							<div class="btn-group">
							  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
								<switch name="Think.get.type">
									<case value="1">System Award Record</case>    
									<case value="2">User Award Record</case>    
									<default />All Award Record
								</switch>
								<span class="caret"></span>
							  </button>
							  <ul class="dropdown-menu" role="menu">
								<li><a href="{:U('index',array('express'=>I('get.express')))}">All Award Record</a></li>
								<li><a href="{:U('index',array('type'=>1,'express'=>I('get.express')))}">System Award Record</a></li>
								<li><a href="{:U('index',array('type'=>2,'express'=>I('get.express')))}">User Award Record</a></li>
							  </ul>
							</div>
						</div>
					</div>
					<table class="no-border blue">
						<thead class="no-border">
						<tr>
							<th style="width:30%;">Products</th>
							<th style="width:15%;">No</th>
							<th style="width:20%;">Lottery Time</th>
							<th style="width:10%;">Lottery Number</th>
							<th style="width:15%;">Lottery User</th>
							<th class="text-right">Operation</th>
						</tr>
						</thead>
						<notempty name="_list">
						<tbody class="no-border-y">
						<volist name="_list" id="vo">
						<tr>
							<td style="width:30%;"><a href="/shop/over/id/{$vo['id']}" target="_blank">{$vo['name']}</a></td>
							<td style="width:15%;">{$vo.no}</td>
							<td style="width:20%;">{$vo.kaijang_time|time_format}</td>
							<td style="width:10%;">{$vo.kaijang_num}</td>
							<td style="width:15%;"><a class="opiframe" href="#" url="{:U('Period/user',array('uid'=>$vo['uid'],'pid'=>$vo['id']))}">{$vo.user.nickname}</a></td>
							<td class="text-right"><a data-placement="left" data-toggle="tooltip" target="_blank" data-original-title="purchase url" class="label label-warning" href="{$vo['buy_url']}"><i class="fa fa-chain"></i></a> <a data-placement="left" data-toggle="tooltip" data-original-title="Ship" class="label <present name="vo['express_no']">label-default<else />label-success</present> opiframe" href="#" url="{:U('Period/edit?id='.$vo['id'])}" id="pid_{$vo['id']}"><i class="fa fa-truck"></i></a> <a data-placement="left" data-toggle="tooltip" data-original-title="share order" class="label <eq name="vo['shared']" value="0">label-default<else />label-primary</eq> opiframe" href="#" url="{:U('Period/shared?id='.$vo['id'])}" id="shared_{$vo['id']}"><i class="fa fa-camera-retro"></i></a></td>
						</tr>
						</volist>
						</tbody>
						<else/>
						<td colspan="6"> aOh! 暂时还没有内容! </td>
						</notempty>
					</table>
					<div class="content col-lg-12 pull-left">
                        <div class="panel-foot text-center">
                            <div class="page">{$_page}</div>
                        </div>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
</block>
<block name="script">
	<js href="__JS__/behaviour/weixin.js" />
	<script type="text/javascript">
		$(document).ready(function(){
			highlight_subnav('{:U('Period/index')}');
			//搜索功能
			$("#search").click(function(){
				var url = $(this).attr('url');
				var query = $(this).parents().prev().children('input').serialize();
		        query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g,'');
		        query = query.replace(/^&/g,'');
		        if( url.indexOf('?')>0 ){
		            url += '&' + query;
		        }else{
		            url += '?' + query;
		        }
				window.location.href = url;
			});
		});
	</script>
</block>