.fullscreen {
  position: relative;
  background-color: black;
  background-size: contain;
  background-position: center center;
  background-position: center;
  background-attachment: fixed;
  vertical-align: middle;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  display: table; }
  @media (max-width: 768px) {
    .fullscreen {
      background-size: cover; } }
  .fullscreen video {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1; }
  .fullscreen .content {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    position: relative;
    z-index: 3; }
  .fullscreen h2 {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 34px; }
    @media (max-width: 768px) {
      .fullscreen h2 {
        max-width: 60%; } }
    .fullscreen h2 img {
      width: 100%; }
    .fullscreen h2 svg {
      max-width: 100%; }
  .fullscreen .title {
    position: absolute;
    bottom: 200px;
    width: 100%;
    text-align: center; }
    @media (max-width: 768px) {
      .fullscreen .title {
        bottom: 80px; } }
    .fullscreen .title .logo {
      background-image: url("../images/home/logo.svg");
      text-align: center;
      background-repeat: no-repeat;
      width: 300px;
      height: 80px;
      margin: 0 auto; }
      @media (max-width: 768px) {
        .fullscreen .title .logo {
          display: none; } }
    .fullscreen .title .subtitle {
      margin-bottom: 40px;
      color: black; }

.home-page {
  background-repeat: no-repeat;
  background-image: url("../images/home/homepage.svg"); }
  @media (max-width: 768px) {
    .home-page {
      background-image: url("../images/home/homepage_mobile.svg"); } }
  .home-page .nav-bar {
    display: none; }
  .home-page .title .home-page-btn {
    display: inline-block;
    border: 1px #080808 solid;
    padding: 8px 16px;
    color: #080808;
    width: 280px; }
    @media (max-width: 768px) {
      .home-page .title .home-page-btn {
        border: 1px #fff solid;
        color: #fff;
        width: 180px; } }