.container
{
	width: 100%;
}
.pay-btn
{
	width: 100%;
	text-align: center;
}
.payment-title
{
	padding:10px;
	font-size: 16px;
	background: #fafafa;
	border-bottom: 1px solid #ddd;
}

.select-key
{
	padding: 10px 0;
	display: flex;
	flex-direction:column;
}

.select-key-row
{
	flex:1;
	display: flex;
	flex-direction:row;
	justify-content: space-around;
}
.key-block
{
	text-align: center;
	width: 80px;
	font-size: 15px;
	flex:1;
	margin: 5px;
	padding:10px;
	border: 1px solid gray;
}
.key-block.selected
{
	border: 1px solid orange;
}

.add-payment-method-view button#coinbase-container, .add-payment-method-view button.paypal
{
	margin 10px auto;
}