<extend name="Public/base"/>
<block name="body">
<div>
<div class="page-head">
	<h2>User</h2>
</div>
<div class="cl-mcont">
	<div class="row">
		<div class="col-md-12">
			<div class="block-flat">
				<div class="header">							
					<h3 class="hthin">{$meta_title}</h3>
				</div>
				<div class="content">
					<div class="tab-container">
						<form action="{:U()}" class="form-horizontal"  method="post">
							<div class="form-group">
								<label class="col-sm-2 control-label">Name</label>
								<div class="col-sm-6">
									<input type="text" name="nickname" class="form-control" value="{$nickname|default=''}" placeholder="用户名"/>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">New Password</label>
								<div class="col-sm-6">
									<input type="text" name="password" class="form-control" placeholder="新密码"/>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">Repassword</label>
								<div class="col-sm-6">
									<input type="text" name="repassword" class="form-control" placeholder="重复密码"/>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-offset-2 col-sm-10">
									<button class="btn btn-primary ajax-post" type="submit" target-form="form-horizontal">Submit</button>
								</div>
						  	</div>
						</form>
					</div>
				</div>
			</div>			
		</div>
	</div>
</div>
</block>
<block name="script">
	<script type="text/javascript">
		$(document).ready(function(){
			highlight_subnav('{:U('User/index')}');
		});
	</script>
</block>