<extend name="Public/base"/>
<block name="style">
	<css href="__JS__/bootstrap.datetimepicker/css/bootstrap-datetimepicker.min.css" />
	<css href="__JS__/jquery.icheck/skins/square/blue.css" />
</block>
<block name="body">
<div>
<div class="page-head">
	<h2>Shop</h2>
</div>
<div class="cl-mcont">
	<div class="row">
		<div class="col-md-12">
			<div class="block-flat">
				<div class="header">							
					<h3 class="hthin">{$meta_title}</h3>
				</div>
				<div class="content">
					<div class="tab-container">
						<ul class="nav nav-tabs">
							<li class="active"><a href="#basics" data-toggle="tab">Basic</a></li>
							<li><a href="#senior" data-toggle="tab">Advance</a></li>
						</ul>
						<form action="{:U()}" class="form-horizontal"  method="post">
						<div class="tab-content">
							<div class="tab-pane active" id="basics">
								<div class="form-group">
									<label class="col-sm-2 control-label">Name</label>
									<div class="col-sm-6">
										<input type="text" name="name" class="form-control" value="{$info.name|default=''}" placeholder="名称"/>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label">Category</label>
									<div class="col-sm-6">
										<select class="form-control" name="category">
				                        	<volist name="category" id="vo">
				                        	<option value="{$vo.id}" <eq name="info['category']" value="$vo['id']">selected="selected"</eq>>{$vo.html}{$vo.title}</option>
											</volist>
				                         </select>
									</div>
								</div>
								<present name="info">
								<div class="form-group">
									<label class="col-sm-2 control-label">Price</label>
									<div class="col-sm-6">
										<input type="text" name="edit_price" class="form-control" value="{$info.edit_price|default=''}" placeholder="修改价格"/>
									</div>
								</div>
								<else/>
								<div class="form-group">
									<label class="col-sm-2 control-label">Price</label>
									<div class="col-sm-6">
										<input type="text" name="price" class="form-control" value="{$info.price|default=''}" placeholder="价格"/>
									</div>
								</div>
								</present>
								<div class="form-group">
									<label class="col-sm-2 control-label">Picture</label>
									<div class="col-sm-6">
										<input type="file" id="upload_picture">
										<input type="hidden" name="cover_id" id="cover_id" value="{$info.cover_id|default=0}"/>
										<div id="shop-pic">
										<notempty name="info.picurl">
											<img src="{$info.picurl}" class="img-thumbnail" style="height:100px;"/>
										</notempty>
										</div>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label">Detail</label>
									<div class="col-sm-10">
										<js href="__STATIC__/ueditor/ueditor.config.js" />
										<js href="__STATIC__/ueditor/ueditor.all.js" />
										<script id="container" name="content" style="width:100%;height:500px;" type="text/plain">{$info.content|htmlspecialchars_decode|stripslashes}</script>
										<script type="text/javascript">
											var ue = UE.getEditor('container',{
												serverUrl :'{:U('Ueditor/Index')}',
           										UEDITOR_HOME_URL:'__STATIC__/ueditor/',
											});
										</script>
									</div>
								</div>
							</div>
							<div class="tab-pane" id="senior">
								<div class="form-group">
									<label class="col-sm-2 control-label">Recommend</label>
									<div class="col-sm-6">
										<volist name="Think.config.DOCUMENT_POSITION" id="pos">
										<label class="checkbox-inline"><input class="icheck" type="checkbox" value="{$key}" name="position[]" <if condition="check_document_position($info['position'],$key)">checked="checked"</if>> {$pos}</label>
										</volist>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label">Purchase Price</label>
									<div class="col-sm-6">
										<input type="text" name="buy_price" class="form-control" value="{$info.buy_price|default=''}" placeholder="购买价格"/>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label">Purchase Link</label>
									<div class="col-sm-6">
										<input name="buy_url" type="text" class="form-control" value="{$info.buy_url|default=''}" placeholder="购买链接">
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label">Web Title</label>
									<div class="col-sm-6">
										<input type="text" name="meta_title" class="form-control" value="{$info.meta_title|default=''}" placeholder="SEO 网页标题"/>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label">Key Words</label>
									<div class="col-sm-6">
										<input name="keywords" type="text" class="form-control" value="{$info.keywords|default=''}" placeholder="SEO 关键字">
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label">Description</label>
									<div class="col-sm-6">
										<input name="description" type="text" class="form-control" value="{$info.description|default=''}" placeholder="SEO 描述">
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label">Popularity</label>
									<div class="col-sm-6">
										<input type="text" name="hits" class="form-control" value="{$info.hits|default=0}"/>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label">Create Time</label>
									<div class="col-sm-6">
									  <div class="input-group date datetime" data-min-view="2" data-date-format="yyyy-mm-dd">
										<input type="text" name="create_time" class="form-control" value="{$info.create_time|time_format=###,'Y-m-d'}"/>
										<span class="input-group-addon btn btn-primary"><span class="glyphicon glyphicon-th"></span></span>
									  </div>					
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label">Visible</label>
									<div class="col-sm-6">
										<select class="form-control" name="display">
											<option value="1">Visible</option>
											<option value="0">Unvisible</option>
										</select>
									</div>
								</div>
							</div>
							<input type="hidden" name="id" value="{$info.id|default=''}">
							<div class="form-group">
								<div class="col-sm-offset-2 col-sm-10">
									<button class="btn btn-primary ajax-post" type="submit" target-form="form-horizontal">Submit</button>
								</div>
						  	</div>
						</div>
						</form>
					</div>
				</div>
			</div>			
		</div>
	</div>
</div>
</block>
<block name="script">
	<js href="__JS__/behaviour/weixin.js" />
	<js href="__JS__/jquery.icheck/icheck.min.js" />
	<js href="__JS__/bootstrap.datetimepicker/js/bootstrap-datetimepicker.min.js" />
	<js href="__JS__/bootstrap.datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js" />
	<js href="__STATIC__/uploadify/jquery.uploadify.min.js" />
	<script type="text/javascript">
		$(document).ready(function(){
			$(".datetime").datetimepicker({autoclose: true,language: 'zh-CN'});
			$('.icheck').iCheck({
			   checkboxClass: 'icheckbox_square-blue checkbox',
			   radioClass: 'iradio_square-blue'
			});
			setValue('display','{$info.display}');
			highlight_subnav('{:U('Shop/add')}');
			
			$("#upload_picture").uploadify({
				"height"          : 35,
				"swf"             : "__STATIC__/uploadify/uploadify.swf",
				"fileObjName"     : "download",
				"buttonClass"     :  "btn btn-success fa fa-upload no-padding",
				"buttonText"      : "Upload",
				"uploader"        : "{:U('File/uploadPicture',array('session_id'=>session_id()))}",
				"width"           : 100,
				'removeTimeout'	  : 1,
				'fileTypeExts'	  : '*.jpg; *.png; *.gif;',
				"onUploadSuccess" : uploadPicture,
				'onFallback' : function() {
					alert('未检测到兼容版本的Flash.');
				}
			});
			function uploadPicture(file, data){
				var data = $.parseJSON(data);
				var src = '';
				if(data.status){
					$("#cover_id").val(data.id);
					src = data.url || '__ROOT__' + data.path
					$("#shop-pic").html(
						'<img src="__ROOT__' + src + '" class="img-thumbnail" style="height:100px;"/>'
					);
				} else {
					layer.msg(data.info, {icon: 2});
				}
			}
		});
	</script>
</block>
